.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
logs/debug.log
logs/*day/debug.log
logs/**/debug.log	
logs/
!logs/important.log	
logs/
logs
debug[a-z].log		
debug[!01].log	
debug[01].log
debug[0-9].log
debug?.log
debug.log
/debug.log
*.log!important/*.logtrace.*
*.log!important.log
*.log
**/logs/debug.log
**/logs